services:
  db:
    image: mcr.microsoft.com/mssql/server:2022-latest
    environment:
      - ACCEPT_EULA=Y
      - MSSQL_SA_PASSWORD=${DB_PASSWORD}
    ports:
      - "1433:1433"
    volumes:
      - "mssql_data:/var/opt/mssql"

  api:
    build:
      context: .
      dockerfile: Dockerfile
      target: final
    restart: always
    ports:
      - "8080:8080"
    environment:
      - DOTNET_SYSTEM_GLOBALIZATION_INVARIANT=false
      - ConnectionStrings__DefaultConnection=Server=db;Database=StoreDb;User Id=sa;Password=${DB_PASSWORD};TrustServerCertificate=True;
      - JwtSettings__SecretKey=${JWT_SECRET}
    depends_on:
      - db

volumes:
  mssql_data:


